<ion-header >
  <ion-toolbar id="tb" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Hoy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"color="secundary">
 

  <ion-list >
    <ion-card  *ngFor="let tarea of tareas" color="dark" >
      <ion-card-content >
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
           
            <ion-button id="btncompletado" fill="clear" color="danger" (click)="onDeleteTarea(tarea.id)">
            </ion-button>

            <ion-label id="tiucard" style="margin-right: 10px;">{{ tarea.titulo }}</ion-label>

          </div>
          <ion-button fill="clear" (click)="toggleDetalle(tarea)">
            <ion-icon id="iconodeta" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-card *ngIf="tarea.mostrarDetalle" color="dark" >
          <ion-card-content color="dark">
            <form [formGroup]="formulario" color="dark" >
              <ion-item class="a" color="dark" >
                <ion-label  position="floating">Título</ion-label>
                <ion-input type="text" formControlName="titulo" [(ngModel)]="tarea.titulo" color="dark"></ion-input>
              </ion-item>
             
 
            <!-- Campo editable de la descripción -->
            <ion-item color="dark">
              <ion-label class="a" position="floating">Descripción</ion-label>
              <ion-textarea formControlName="descripcion" [(ngModel)]="tarea.descripcion"></ion-textarea>
            </ion-item>
            <div class="mb-3">
              <label for="fechaLimite" class="form-label">Fecha Límite: </label>
              <p>{{ formatFechaLimite(tarea.fechaLimite) }}</p>
            </div>
            
<br>
            <label class="form-check">
              <input  type="checkbox" class="form-check-input" 
                [checked]="tarea.importante"
                (change)="cambiarImportante($event)">
              Importante
            </label>
            
   

<br>
          <label class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="recordarme"
              [checked]="formulario.get('recordarme')?.value === true"
              (change)="cambiarRecordarme($event)">
          Recordarme
          </label>

          <p><strong>Repetir:</strong> {{ tarea.repetir ? 'Sí' : 'No' }}</p>
    
             
 
            <!-- Agrega más campos según tus necesidades -->
            <div id="btnedicion">
              <ion-button color="secundary" id="btnedicion1" (click)="onDeleteTarea(tarea.id)"><ion-icon name="trash"></ion-icon></ion-button>
              <ion-button  color="secundary" id="btnedicion2"  (click)="editarTarea(tarea)"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
          
                  </div>
                  </form>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-list>
      
</ion-content>

<ion-footer  >
  <button style="color: white;" (click)="toggleFormulario()" id="btnueva"> Nueva Tarea</button>
  <form [formGroup]="formulario" *ngIf="mostrarFormulario"  (ngSubmit)="onSubmit()" class="p-4" >
    <div class="mb-3" id="formulario">

      <div>
      <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="Escribe el título de la tarea">
      </div>
        
      <div class="mb-3" id="descripcion">
      <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="4" placeholder="Escribe una descripción de la tarea"></textarea>
      </div>

      <div class="mb-3">
        <label for="fechaLimite">Fecha Límite:</label>
        <input type="date" formControlName="fechaLimite">
      </div>

    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="importante">
        Importante
      </label>
    </div>
    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="recordarme">
        Recordarme
      </label>
    </div>
   
    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="repetir">
        Repetir
      </label>
    </div>
    </div>
    <input style="background-color: orange; color: black;" id="btnenviar" type="submit" value="Enviar" class="btn btn-primary">
  </form>
</ion-footer>
