/* En tu archivo de estilos */
ion-content{
    --background: none;
    background: url(../../assets/logsig.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Centro vertical y horizontalmente el contenido dentro de ion-content */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Ocupa toda la altura de ion-content */
  }
  
  #boton {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    margin-top: 340px; /* Empuja el botón hacia abajo */
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  
    //padding-right: 200px;
 

  }
  