<ion-header [translucent]="true">
  <ion-toolbar id="tb">
    <!-- Contenedor para el nombre de usuario -->
    <ion-title id="usuarioContainer" size="medium">
      <a id="enlacePerfil" *ngIf="correoUsuario">{{ correoUsuario }}</a>
    </ion-title>

    <!-- Botón de deslogueo -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logoutButton">
        <ion-icon id="ilogout" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  
<ion-content display="flex" id="contenedor" color="secundary">
  <div id="klk">
    <ion-card id="card" routerLink="/tareas" color="danger">
      <ion-card-content class="content" color="danger">
        <div class="icono-titulo">
          <ion-icon class="icono" name="reader-outline"></ion-icon>
          <p class="titulo">Tareas</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card id="card" routerLink="/hoy"  color="danger">
      <ion-card-content class="content">
        <div class="icono-titulo">
          <ion-icon class="icono" name="sunny"></ion-icon>
          <p class="titulo">Hoy</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card id="card" routerLink="/importante"  color="danger">
      <ion-card-content class="content">
        <div class="icono-titulo">
          <ion-icon class="icono" name="star-outline"></ion-icon>
          <p class="titulo">Importante</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card id="card" routerLink="/historial"  color="danger">
      <ion-card-content class="content">
        <div class="icono-titulo">
          <ion-icon class="icono" name="time-outline"></ion-icon>
          <p class="titulo">Historial</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

