<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="p-4">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="Escribe el título de la tarea">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="4" placeholder="Escribe una descripción de la tarea"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="importante">
        Importante
      </label>
    </div>
    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="recordarme">
        Recordarme
      </label>
    </div>
    <div class="mb-3">
      <label for="fechaLimite" class="form-label">Fecha Límite</label>
      <input type="date" class="form-control" id="fechaLimite" formControlName="fechaLimite">
    </div>
    <div class="mb-3">
      <label class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="repetir">
        Repetir
      </label>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
  </form>

  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <ion-label>{{tarea.titulo}}</ion-label>
      <ion-label>{{tarea.descripcion}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
