<ion-content class="ion-padding">
  <ion-header [translucent]="true"></ion-header>

  <div id="container" class="ion-padding">
  
    <ion-fab id="botong" >
      <ion-fab-button  color="tertiary" (click)="onClick()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div id="or">
      <p>-OR-</p>
    </div>

    <form id="form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <ion-list id="list">
    
        <ion-item color="light">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-buttons>
        <ion-button class="" id="boton" expand="" type="submit">Registrarse</ion-button>
      </ion-buttons>
    </form>
    <p id="fin">¿Ya tienes una cuenta?<a [routerLink]="['/login']" style="margin-left: 5px;">Login</a></p>
  </div>
</ion-content>
